*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace; 
  font-weight: 400;
  overflow-x: hidden;
}

:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-dark: #282828;
  --fw-light: 300;
  --fw-reqular: 400;
  --fw-bold: 600;
}

body {
  font-weight: var(--fw-reqular);
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.title-container {
  display: grid;
  margin-top: 2vh;
  justify-content: center;
}

.title,
.title-background {
  grid-column: 1;
}

.title-background {
  align-self: flex-end;
  opacity: 15%;
  grid-row: 2;
  width: calc((70vw + 70vh) / 2);
  height: calc((2vw + 2vh) / 2);;
  background-color: var(--clr-white);
}

#logo {
  margin-inline: auto;
  grid-row: 1;
  position: relative;
  width: calc((35vw + 20vh) / 2);
}

.title-container > .title {
  grid-row: 2;
  margin-inline: auto;
  font-size: calc((4vw + 4vh) / 2);
  font-weight: var(--fw-reqular);
  position: relative;
  color: var(--clr-white);
  letter-spacing: 0.2vw;
}

.glow,
.chart-container,
.chart-container-3,
.chart-container-4 {
  grid-column: 1;
}

.glow {
  z-index: 1;
  opacity: 100%;
  grid-row: 2;
  margin-inline: 1vw;
  padding-inline: 2vw;
  display: grid;
  filter: blur(calc((15vw + 15vh) / 2));
  grid-template-columns: repeat(10, 1fr);
}

.chart-container {
  z-index: 2;
  position: relative;
  grid-row: 2;
  margin-inline: 1vw;
  padding-inline: 2vw;
}
.chart-container-3 {
  z-index: 1000;
  opacity: 5%;
  position: relative;
  grid-row: 2;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%
  );
  background-size: 1vh 1vh;
  mix-blend-mode: darken;
}

.chart-column {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: var(--clr-white) 0.1vh solid;
}

.score {
  z-index: 999;
  display: inline-block;
  margin: auto;
  position: relative;
  color: var(--clr-white);
  font-size: calc((2vw + 2vh) / 2);
  overflow: hidden;
  margin-bottom: 1vh;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 5vw;
}

.chartgrid {
  text-align: center;
  display: grid;
}
.name-chartgrid {
  text-align: center;
  display: grid;
  align-items: center;
}

.rectangle {
  margin-inline: 0.6vw;
  border-top-right-radius: calc((0.4vw + 0.4vh) / 2);
  border-top-left-radius: calc((0.4vw + 0.4vh) / 2); 
  transform: 1s ease;
  height: fit-content;
  width: fit-content;
}

.teamname-container {
  z-index: 2;
  position: relative;
  grid-row: 3;
  padding-inline: 2vw;
  margin-inline: 1vw;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.teamname-box {
  flex-shrink: 1;
  align-items: center;
  height: 70%;
  padding-inline: 0.4vw;
  padding-block: 2vh;
  margin-inline: 0.2vw;
  margin-block: 3vh;
  border-radius: calc((0.4vw + 0.4vh) / 2);
  background-color: var(--clr-black);
  overflow-y: hidden;
}

.teamname {
  position: relative;
  height: fit-content;
  opacity: 65%;
  margin-block: auto;
  word-break: break-word;
  color: var(--clr-white);
  font-size: calc((1.6vw + 1.6vh) / 2);
}
